
.horizontal-scroll-wrapper > .row {
    overflow-x: auto;
    white-space: nowrap;

    & > .col-md-4 {
        display: inline-block;
        float: none;
    }
}

.badge:hover {
    cursor: pointer;
}

.favorite {
    font-size: 20px;
}